@import "tailwindcss";


body{
    background-color: rgb(248, 253, 248);
}
.perspective-\[1200px\] {
  perspective: 1200px;
}

.rotate-y-\[35deg\] {
  transform: rotateY(35deg);
}

.rotate-y-\[-35deg\] {
  transform: rotateY(-35deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease;
}
